body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

nav {
    padding: 20px;
    background: #111;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    margin-top: 60px;
}

.logo {
    font-size: 40px;
    color: #00ffcc;
}

input, select {
    padding: 10px;
    width: 300px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: #00ffcc;
    border: none;
    font-weight: bold;
}

.progress {
    width: 300px;
    height: 10px;
    background: #333;
    margin: 20px auto;
}

.bar {
    height: 10px;
    width: 0%;
    background: #00ffcc;
}